.tagError {
  display: inline-flex;
  align-items: center;
  padding: var(--tb-tag-padding-vbase) var(--tb-tag-padding-hbase);
  background: var(--tb-palette-TB-Functional-ErrorBg);
}

.label {
  color: var(--tb-palette-TB-Functional-ErrorText);
  font: var(--tb-typography-GothamN-S-500-font);
  text-align: left;
}
