.tagSuccess {
  display: inline-flex;
  align-items: center;
  padding: var(--tb-tag-padding-vBase) var(--tb-tag-padding-hBase);
  background: var(--tb-palette-TB-Functional-SuccessBg);
}

.label {
  color: var(--tb-palette-TB-Functional-Black);
  font: var(--tb-typography-GothamN-S-500-font);
  text-align: left;
}
