.inputContainer {
  display: flex;
  height: 60px;
  width: 343px;
  padding: 0px 20px;
  align-items: center;
  align-self: stretch;
  position: relative;
  border: 1px solid var(--TB-Brand-Gray, #8195A2);
  background: var(--TB-Brand-BG-Text, #FFF);
}

.inputContainer.focused {
  border-bottom: 4px solid var(--TB-Brand-Gray, #8195A2);
}

.inputContainer.disabled {
  background: #E9EDF0;
  border-color: var(--mui-palette-TB-Functional-DarkGray, #858585);
}

.input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  color: var(--TB-Brand-Base-Text, #000);
  text-align: left;
  padding: 12px 0 0 0;
  font: var(--mui-MuiCssBaseline-typography-SubheaderBase-font);
}

.input:focus {
  outline: none;
}

.input:disabled {
  cursor: not-allowed;
}

.placeholder {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease-out;
  color: var(--TB-Brand-Base-Text, #000);
  text-align: left;
  pointer-events: none;
  font: var(--mui-MuiCssBaseline-typography-GothamBaseBook-font);

}

.floatingPlaceholder {
  top: 6px;
  transform: translateY(0);
  font: var(--mui-MuiCssBaseline-typography-GothamXSmallBook-font);
}

.input:not(:placeholder-shown) + .placeholder {
  top: 6px;
  transform: translateY(0);
}

.disabled .placeholder {
  color: #858585;
}