{
  "extends": ["next/core-web-vitals", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": ["error", {
      "argsIgnorePattern": "^_"
    }],
    "import/first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "prefer-template": "error",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "block" },
      { "blankLine": "always", "prev": "block", "next": "*" },
      { "blankLine": "always", "prev": "*", "next": "block-like" },
      { "blankLine": "always", "prev": "block-like", "next": "*" }
    ],
    "@next/next/no-img-element": "off",
    "@next/next/link-passhref": "off",
    "react/no-unescaped-entities": "off"
  }
}
