@import "https://use.typekit.net/loo0pmd.css";

@font-face {
  font-family: 'Domaine';
  src: local('domaine-bold'), url('https://cdn.tollbrothers.com/fonts/domaine/domaine-bold.woff2') format('woff2'),
  url('https://cdn.tollbrothers.com/fonts/domaine/domaine-bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Domaine';
  src: local('domaine-semibold'), url('https://cdn.tollbrothers.com/fonts/domaine/domaine-display-web-semibold.woff2') format('woff2'),
  url('https://cdn.tollbrothers.com/fonts/domaine/domaine-display-web-semibold.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Narrow";
  src: local("GothamNarrSSm-Light"),
  url("https://cdn.tollbrothers.com/fonts/gotham/woff2/GothamNarrSSm-Light_Web.woff2") format("woff2"),
  url("https://cdn.tollbrothers.com/fonts/gotham/woff/GothamNarrSSm-Light_Web.woff") format("woff");
  font-weight: 200 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Narrow";
  src: local("GothamNarrSSm-Medium"),
  url("https://cdn.tollbrothers.com/fonts/gotham/woff2/GothamNarrSSm-Medium_Web.woff2") format("woff2"),
  url("https://cdn.tollbrothers.com/fonts/gotham/woff/GothamNarrSSm-Medium_Web.woff") format("woff");
  font-weight: 500 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  src: local("GothamSSm-Book"),
  url("https://cdn.tollbrothers.com/fonts/gotham/woff2/GothamSSm-Book_Web.woff2") format("woff2"),
  url("https://cdn.tollbrothers.com/fonts/gotham/woff/GothamSSm-Book_Web.woff") format("woff");
  font-weight: 200 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  src: local("GothamNarrSSm-Medium"),
  url("https://cdn.tollbrothers.com/fonts/gotham/woff2/GothamSSm-Bold_Web.woff2") format("woff2"),
  url("https://cdn.tollbrothers.com/fonts/gotham/woff/GothamSSm-Bold_Web.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


:root {
--tb-palette-TB-Brand-Primary: #0C223F;
--tb-palette-TB-Brand-Medium: #004876;
--tb-palette-TB-Brand-Accent: #0070CD;
--tb-palette-TB-Brand-Gray: #8195A2;
--tb-palette-TB-Functional-Black: #000000;
--tb-palette-TB-Functional-OffBlack: #595959;
--tb-palette-TB-Functional-White: #FFFFFF;
--tb-palette-TB-Functional-OffWhite: #B5B5B5;
--tb-palette-TB-Functional-DarkGray: #858585;
--tb-palette-TB-Functional-MedGray: #D8D8D8;
--tb-palette-TB-Functional-LightGray: #E9EDF0;
--tb-palette-TB-Functional-GrayOnDark: rgba(255, 255, 255, 0.2);
--tb-palette-TB-Functional-Success: #009D47;
--tb-palette-TB-Functional-Error: #A31F34;
--tb-palette-TB-POI-Food: #AD3F49;
--tb-palette-TB-POI-Fitness: #D78956;
--tb-palette-TB-POI-Entertainment: #DBAE60;
--tb-palette-TB-POI-Parks: #5E8748;
--tb-palette-TB-POI-Transportation: #5C8988;
--tb-palette-TB-POI-Business: #2C71C7;
--tb-palette-TB-POI-Shopping: #344072;
--tb-palette-TB-POI-School: #543D6E;
--tb-palette-primary-contrast: #FFFFFF;
--tb-palette-primary-main: #2196F3;
--tb-palette-action-disabled: rgba(0, 0, 0, 0.38);
--tb-spacing-0: 0;
--tb-spacing-1: 4px;
--tb-spacing-2: 8px;
--tb-spacing-3: 12px;
--tb-spacing-4: 16px;
--tb-spacing-5: 24px;
--tb-spacing-6: 32px;
--tb-spacing-7: 36px;
--tb-spacing-8: 48px;
--tb-spacing-9: 60px;
--tb-typography-H1-fontSize: 3rem;
--tb-typography-H1-fontFamily: Domaine, Helvetica, Arial, sans-serif;
--tb-typography-H1-fontStyle: normal;
--tb-typography-H1-fontWeight: 400;
--tb-typography-H1-lineHeight: 60px;
--tb-typography-H1-textTransform: none;
--tb-typography-H1-textDecorationLine: none;
--tb-typography-H1-font: normal 400 3rem/60px Domaine, Helvetica, Arial, sans-serif;
--tb-typography-H2-fontSize: 2.5rem;
--tb-typography-H2-fontFamily: Domaine, Helvetica, Arial, sans-serif;
--tb-typography-H2-fontStyle: normal;
--tb-typography-H2-fontWeight: 400;
--tb-typography-H2-lineHeight: 50px;
--tb-typography-H2-textTransform: none;
--tb-typography-H2-textDecorationLine: none;
--tb-typography-H2-font: normal 400 2.5rem/50px Domaine, Helvetica, Arial, sans-serif;
--tb-typography-H3-fontSize: 2.0625rem;
--tb-typography-H3-fontFamily: Domaine, Helvetica, Arial, sans-serif;
--tb-typography-H3-fontStyle: normal;
--tb-typography-H3-fontWeight: 400;
--tb-typography-H3-lineHeight: 41px;
--tb-typography-H3-textTransform: none;
--tb-typography-H3-textDecorationLine: none;
--tb-typography-H3-font: normal 400 2.0625rem/41px Domaine, Helvetica, Arial, sans-serif;
--tb-typography-H4-fontSize: 1.75rem;
--tb-typography-H4-fontFamily: Domaine, Helvetica, Arial, sans-serif;
--tb-typography-H4-fontStyle: normal;
--tb-typography-H4-fontWeight: 400;
--tb-typography-H4-lineHeight: 35px;
--tb-typography-H4-textTransform: none;
--tb-typography-H4-textDecorationLine: none;
--tb-typography-H4-font: normal 400 1.75rem/35px Domaine, Helvetica, Arial, sans-serif;
--tb-typography-H5-fontSize: 1.75rem;
--tb-typography-H5-fontFamily: Domaine, Helvetica, Arial, sans-serif;
--tb-typography-H5-fontStyle: normal;
--tb-typography-H5-fontWeight: 400;
--tb-typography-H5-lineHeight: 35px;
--tb-typography-H5-textTransform: none;
--tb-typography-H5-textDecorationLine: none;
--tb-typography-H5-font: normal 400 1.75rem/35px Domaine, Helvetica, Arial, sans-serif;
--tb-typography-H6-fontSize: 1.1875rem;
--tb-typography-H6-fontFamily: Domaine, Helvetica, Arial, sans-serif;
--tb-typography-H6-fontStyle: normal;
--tb-typography-H6-fontWeight: 400;
--tb-typography-H6-lineHeight: 24px;
--tb-typography-H6-textTransform: none;
--tb-typography-H6-textDecorationLine: none;
--tb-typography-H6-font: normal 400 1.1875rem/24px Domaine, Helvetica, Arial, sans-serif;
--tb-typography-BodyBase-fontSize: 1rem;
--tb-typography-BodyBase-fontFamily: Gotham Narrow, Helvetica, Arial, sans-serif;
--tb-typography-BodyBase-fontStyle: normal;
--tb-typography-BodyBase-fontWeight: 300;
--tb-typography-BodyBase-lineHeight: 24px;
--tb-typography-BodyBase-textTransform: none;
--tb-typography-BodyBase-textDecorationLine: none;
--tb-typography-BodyBase-font: normal 300 1rem/24px Gotham Narrow, Helvetica, Arial, sans-serif;
--tb-typography-BodyLarge-fontSize: 1.125rem;
--tb-typography-BodyLarge-fontFamily: Gotham Narrow, Helvetica, Arial, sans-serif;
--tb-typography-BodyLarge-fontStyle: normal;
--tb-typography-BodyLarge-fontWeight: 300;
--tb-typography-BodyLarge-lineHeight: 27px;
--tb-typography-BodyLarge-textTransform: none;
--tb-typography-BodyLarge-textDecorationLine: none;
--tb-typography-BodyLarge-font: normal 300 1.125rem/27px Gotham Narrow, Helvetica, Arial, sans-serif;
--tb-typography-BodySmall-fontSize: 0.8125rem;
--tb-typography-BodySmall-fontFamily: Gotham Narrow, Helvetica, Arial, sans-serif;
--tb-typography-BodySmall-fontStyle: normal;
--tb-typography-BodySmall-fontWeight: 300;
--tb-typography-BodySmall-lineHeight: 20px;
--tb-typography-BodySmall-textTransform: none;
--tb-typography-BodySmall-textDecorationLine: none;
--tb-typography-BodySmall-font: normal 300 0.8125rem/20px Gotham Narrow, Helvetica, Arial, sans-serif;
--tb-typography-BodyXSmall-fontSize: 0.6875rem;
--tb-typography-BodyXSmall-fontFamily: Gotham Narrow, Helvetica, Arial, sans-serif;
--tb-typography-BodyXSmall-fontStyle: normal;
--tb-typography-BodyXSmall-fontWeight: 300;
--tb-typography-BodyXSmall-lineHeight: 17px;
--tb-typography-BodyXSmall-textTransform: none;
--tb-typography-BodyXSmall-textDecorationLine: none;
--tb-typography-BodyXSmall-font: normal 300 0.6875rem/17px Gotham Narrow, Helvetica, Arial, sans-serif;
--tb-typography-SubheaderBase-fontSize: 1rem;
--tb-typography-SubheaderBase-fontFamily: Gotham Narrow, Helvetica, Arial, sans-serif;
--tb-typography-SubheaderBase-fontStyle: normal;
--tb-typography-SubheaderBase-fontWeight: 400;
--tb-typography-SubheaderBase-lineHeight: 24px;
--tb-typography-SubheaderBase-textTransform: none;
--tb-typography-SubheaderBase-textDecorationLine: none;
--tb-typography-SubheaderBase-font: normal 400 1rem/24px Gotham Narrow, Helvetica, Arial, sans-serif;
--tb-typography-SubheaderLarge-fontSize: 1.125rem;
--tb-typography-SubheaderLarge-fontFamily: Gotham Narrow, Helvetica, Arial, sans-serif;
--tb-typography-SubheaderLarge-fontStyle: normal;
--tb-typography-SubheaderLarge-fontWeight: 400;
--tb-typography-SubheaderLarge-lineHeight: 27px;
--tb-typography-SubheaderLarge-textTransform: none;
--tb-typography-SubheaderLarge-textDecorationLine: none;
--tb-typography-SubheaderLarge-font: normal 400 1.125rem/27px Gotham Narrow, Helvetica, Arial, sans-serif;
--tb-typography-SubheaderSmall-fontSize: 0.8125rem;
--tb-typography-SubheaderSmall-fontFamily: Gotham Narrow, Helvetica, Arial, sans-serif;
--tb-typography-SubheaderSmall-fontStyle: normal;
--tb-typography-SubheaderSmall-fontWeight: 400;
--tb-typography-SubheaderSmall-lineHeight: 20px;
--tb-typography-SubheaderSmall-textTransform: none;
--tb-typography-SubheaderSmall-textDecorationLine: none;
--tb-typography-SubheaderSmall-font: normal 400 0.8125rem/20px Gotham Narrow, Helvetica, Arial, sans-serif;
--tb-typography-SubheaderXSmall-fontSize: 0.6875rem;
--tb-typography-SubheaderXSmall-fontFamily: Gotham Narrow, Helvetica, Arial, sans-serif;
--tb-typography-SubheaderXSmall-fontStyle: normal;
--tb-typography-SubheaderXSmall-fontWeight: 400;
--tb-typography-SubheaderXSmall-lineHeight: 17px;
--tb-typography-SubheaderXSmall-textTransform: none;
--tb-typography-SubheaderXSmall-textDecorationLine: none;
--tb-typography-SubheaderXSmall-font: normal 400 0.6875rem/17px Gotham Narrow, Helvetica, Arial, sans-serif;
--tb-typography-GothamBaseBold-fontSize: 0.875rem;
--tb-typography-GothamBaseBold-fontFamily: Gotham, Helvetica, Arial, sans-serif;
--tb-typography-GothamBaseBold-fontStyle: normal;
--tb-typography-GothamBaseBold-fontWeight: 400;
--tb-typography-GothamBaseBold-lineHeight: 21px;
--tb-typography-GothamBaseBold-textTransform: none;
--tb-typography-GothamBaseBold-textDecorationLine: none;
--tb-typography-GothamBaseBold-font: normal 400 0.875rem/21px Gotham, Helvetica, Arial, sans-serif;
--tb-typography-GothamBaseBook-fontSize: 0.875rem;
--tb-typography-GothamBaseBook-fontFamily: Gotham, Helvetica, Arial, sans-serif;
--tb-typography-GothamBaseBook-fontStyle: normal;
--tb-typography-GothamBaseBook-fontWeight: 400;
--tb-typography-GothamBaseBook-lineHeight: 21px;
--tb-typography-GothamBaseBook-textTransform: none;
--tb-typography-GothamBaseBook-textDecorationLine: none;
--tb-typography-GothamBaseBook-font: normal 400 0.875rem/21px Gotham, Helvetica, Arial, sans-serif;
--tb-typography-GothamSmallBold-fontSize: 0.75rem;
--tb-typography-GothamSmallBold-fontFamily: Gotham, Helvetica, Arial, sans-serif;
--tb-typography-GothamSmallBold-fontStyle: normal;
--tb-typography-GothamSmallBold-fontWeight: 400;
--tb-typography-GothamSmallBold-lineHeight: 18px;
--tb-typography-GothamSmallBold-textTransform: none;
--tb-typography-GothamSmallBold-textDecorationLine: none;
--tb-typography-GothamSmallBold-font: normal 400 0.75rem/18px Gotham, Helvetica, Arial, sans-serif;
--tb-typography-GothamSmallBook-fontSize: 0.75rem;
--tb-typography-GothamSmallBook-fontFamily: Gotham, Helvetica, Arial, sans-serif;
--tb-typography-GothamSmallBook-fontStyle: normal;
--tb-typography-GothamSmallBook-fontWeight: 400;
--tb-typography-GothamSmallBook-lineHeight: 18px;
--tb-typography-GothamSmallBook-textTransform: none;
--tb-typography-GothamSmallBook-textDecorationLine: none;
--tb-typography-GothamSmallBook-font: normal 400 0.75rem/18px Gotham, Helvetica, Arial, sans-serif;
--tb-typography-GothamXSmallBook-fontSize: 0.6875rem;
--tb-typography-GothamXSmallBook-fontFamily: Gotham, Helvetica, Arial, sans-serif;
--tb-typography-GothamXSmallBook-fontStyle: normal;
--tb-typography-GothamXSmallBook-fontWeight: 400;
--tb-typography-GothamXSmallBook-lineHeight: 17px;
--tb-typography-GothamXSmallBook-textTransform: none;
--tb-typography-GothamXSmallBook-textDecorationLine: none;
--tb-typography-GothamXSmallBook-font: normal 400 0.6875rem/17px Gotham, Helvetica, Arial, sans-serif;
--tb-typography-GothamOverline-fontSize: 0.6875rem;
--tb-typography-GothamOverline-fontFamily: Gotham, Helvetica, Arial, sans-serif;
--tb-typography-GothamOverline-fontStyle: normal;
--tb-typography-GothamOverline-fontWeight: 400;
--tb-typography-GothamOverline-lineHeight: 17px;
--tb-typography-GothamOverline-textTransform: uppercase;
--tb-typography-GothamOverline-textDecorationLine: none;
--tb-typography-GothamOverline-font: normal 400 0.6875rem/17px Gotham, Helvetica, Arial, sans-serif;
--tb-typography-SemanticPlaceholder-fontSize: 0.875rem;
--tb-typography-SemanticPlaceholder-fontFamily: Gotham, Helvetica, Arial, sans-serif;
--tb-typography-SemanticPlaceholder-fontStyle: normal;
--tb-typography-SemanticPlaceholder-fontWeight: 400;
--tb-typography-SemanticPlaceholder-lineHeight: 21px;
--tb-typography-SemanticPlaceholder-textTransform: none;
--tb-typography-SemanticPlaceholder-textDecorationLine: none;
--tb-typography-SemanticPlaceholder-font: normal 400 0.875rem/21px Gotham, Helvetica, Arial, sans-serif;
--tb-typography-SemanticFloatingPlaceholder-fontSize: 0.6875rem;
--tb-typography-SemanticFloatingPlaceholder-fontFamily: Gotham, Helvetica, Arial, sans-serif;
--tb-typography-SemanticFloatingPlaceholder-fontStyle: normal;
--tb-typography-SemanticFloatingPlaceholder-fontWeight: 400;
--tb-typography-SemanticFloatingPlaceholder-lineHeight: 17px;
--tb-typography-SemanticFloatingPlaceholder-textTransform: none;
--tb-typography-SemanticFloatingPlaceholder-textDecorationLine: none;
--tb-typography-SemanticFloatingPlaceholder-font: normal 400 0.6875rem/17px Gotham, Helvetica, Arial, sans-serif;
--tb-typography-SemanticInput-fontSize: 1rem;
--tb-typography-SemanticInput-fontFamily: Gotham Narrow, Helvetica, Arial, sans-serif;
--tb-typography-SemanticInput-fontStyle: normal;
--tb-typography-SemanticInput-fontWeight: 400;
--tb-typography-SemanticInput-lineHeight: 24px;
--tb-typography-SemanticInput-textTransform: none;
--tb-typography-SemanticInput-textDecorationLine: none;
--tb-typography-SemanticInput-font: normal 400 1rem/24px Gotham Narrow, Helvetica, Arial, sans-serif;
--tb-typography-SemanticButtonLabelBase-fontSize: 0.875rem;
--tb-typography-SemanticButtonLabelBase-fontFamily: Gotham, Helvetica, Arial, sans-serif;
--tb-typography-SemanticButtonLabelBase-fontStyle: normal;
--tb-typography-SemanticButtonLabelBase-fontWeight: 400;
--tb-typography-SemanticButtonLabelBase-lineHeight: 21px;
--tb-typography-SemanticButtonLabelBase-textTransform: none;
--tb-typography-SemanticButtonLabelBase-textDecorationLine: none;
--tb-typography-SemanticButtonLabelBase-font: normal 400 0.875rem/21px Gotham, Helvetica, Arial, sans-serif;
--tb-typography-SemanticButtonLabelSmall-fontSize: 0.75rem;
--tb-typography-SemanticButtonLabelSmall-fontFamily: Gotham, Helvetica, Arial, sans-serif;
--tb-typography-SemanticButtonLabelSmall-fontStyle: normal;
--tb-typography-SemanticButtonLabelSmall-fontWeight: 400;
--tb-typography-SemanticButtonLabelSmall-lineHeight: 18px;
--tb-typography-SemanticButtonLabelSmall-textTransform: none;
--tb-typography-SemanticButtonLabelSmall-textDecorationLine: none;
--tb-typography-SemanticButtonLabelSmall-font: normal 400 0.75rem/18px Gotham, Helvetica, Arial, sans-serif;
--tb-typography-SemanticTabLabel-fontSize: 0.875rem;
--tb-typography-SemanticTabLabel-fontFamily: Gotham, Helvetica, Arial, sans-serif;
--tb-typography-SemanticTabLabel-fontStyle: normal;
--tb-typography-SemanticTabLabel-fontWeight: 400;
--tb-typography-SemanticTabLabel-lineHeight: 21px;
--tb-typography-SemanticTabLabel-textTransform: none;
--tb-typography-SemanticTabLabel-textDecorationLine: none;
--tb-typography-SemanticTabLabel-font: normal 400 0.875rem/21px Gotham, Helvetica, Arial, sans-serif;
--tb-typography-SemanticTagLabel-fontSize: 0.75rem;
--tb-typography-SemanticTagLabel-fontFamily: Gotham, Helvetica, Arial, sans-serif;
--tb-typography-SemanticTagLabel-fontStyle: normal;
--tb-typography-SemanticTagLabel-fontWeight: 400;
--tb-typography-SemanticTagLabel-lineHeight: 18px;
--tb-typography-SemanticTagLabel-textTransform: none;
--tb-typography-SemanticTagLabel-textDecorationLine: none;
--tb-typography-SemanticTagLabel-font: normal 400 0.75rem/18px Gotham, Helvetica, Arial, sans-serif;
--tb-GlobalBrandBorderRadius: 4px;

--tb-palette-TB-Brand-Primary-RGB: 12, 34, 63;
--tb-palette-TB-Brand-Medium-RGB: 0, 72, 118;
--tb-palette-TB-Brand-Accent-RGB: 0, 112, 205;
--tb-palette-TB-Brand-Gray-RGB: 129, 149, 162;
--tb-palette-TB-Functional-Black-RGB: 0, 0, 0;
--tb-palette-TB-Functional-OffBlack-RGB: 89, 89, 89;
--tb-palette-TB-Functional-White-RGB: 255, 255, 255;
--tb-palette-TB-Functional-OffWhite-RGB: 181, 181, 181;
--tb-palette-TB-Functional-DarkGray-RGB: 133, 133, 133;
--tb-palette-TB-Functional-MedGray-RGB: 216, 216, 216;
--tb-palette-TB-Functional-LightGray-RGB: 233, 237, 240;
--tb-palette-TB-Functional-Success-RGB: 0, 157, 71;
--tb-palette-TB-Functional-Error-RGB: 163, 31, 52;
--tb-palette-TB-POI-Food-RGB: 173, 63, 73;
--tb-palette-TB-POI-Fitness-RGB: 215, 137, 86;
--tb-palette-TB-POI-Entertainment-RGB: 219, 174, 96;
--tb-palette-TB-POI-Parks-RGB: 94, 135, 72;
--tb-palette-TB-POI-Transportation-RGB: 92, 137, 136;
--tb-palette-TB-POI-Business-RGB: 44, 113, 199;
--tb-palette-TB-POI-Shopping-RGB: 52, 64, 114;
--tb-palette-TB-POI-School-RGB: 84, 61, 110;
--tb-palette-primary-contrast-RGB: 255, 255, 255;
--tb-palette-primary-main-RGB: 33, 150, 243;
}


      
.tb-typography-H1-font {
  font: var(--tb-typography-H1-font);
  text-decoration-line: var(--tb-typography-H1-textDecorationLine);
  text-transform: var(--tb-typography-H1-textTransform);
}

.tb-typography-H2-font {
  font: var(--tb-typography-H2-font);
  text-decoration-line: var(--tb-typography-H2-textDecorationLine);
  text-transform: var(--tb-typography-H2-textTransform);
}

.tb-typography-H3-font {
  font: var(--tb-typography-H3-font);
  text-decoration-line: var(--tb-typography-H3-textDecorationLine);
  text-transform: var(--tb-typography-H3-textTransform);
}

.tb-typography-H4-font {
  font: var(--tb-typography-H4-font);
  text-decoration-line: var(--tb-typography-H4-textDecorationLine);
  text-transform: var(--tb-typography-H4-textTransform);
}

.tb-typography-H5-font {
  font: var(--tb-typography-H5-font);
  text-decoration-line: var(--tb-typography-H5-textDecorationLine);
  text-transform: var(--tb-typography-H5-textTransform);
}

.tb-typography-H6-font {
  font: var(--tb-typography-H6-font);
  text-decoration-line: var(--tb-typography-H6-textDecorationLine);
  text-transform: var(--tb-typography-H6-textTransform);
}

.tb-typography-BodyBase-font {
  font: var(--tb-typography-BodyBase-font);
  text-decoration-line: var(--tb-typography-BodyBase-textDecorationLine);
  text-transform: var(--tb-typography-BodyBase-textTransform);
}

.tb-typography-BodyLarge-font {
  font: var(--tb-typography-BodyLarge-font);
  text-decoration-line: var(--tb-typography-BodyLarge-textDecorationLine);
  text-transform: var(--tb-typography-BodyLarge-textTransform);
}

.tb-typography-BodySmall-font {
  font: var(--tb-typography-BodySmall-font);
  text-decoration-line: var(--tb-typography-BodySmall-textDecorationLine);
  text-transform: var(--tb-typography-BodySmall-textTransform);
}

.tb-typography-BodyXSmall-font {
  font: var(--tb-typography-BodyXSmall-font);
  text-decoration-line: var(--tb-typography-BodyXSmall-textDecorationLine);
  text-transform: var(--tb-typography-BodyXSmall-textTransform);
}

.tb-typography-SubheaderBase-font {
  font: var(--tb-typography-SubheaderBase-font);
  text-decoration-line: var(--tb-typography-SubheaderBase-textDecorationLine);
  text-transform: var(--tb-typography-SubheaderBase-textTransform);
}

.tb-typography-SubheaderLarge-font {
  font: var(--tb-typography-SubheaderLarge-font);
  text-decoration-line: var(--tb-typography-SubheaderLarge-textDecorationLine);
  text-transform: var(--tb-typography-SubheaderLarge-textTransform);
}

.tb-typography-SubheaderSmall-font {
  font: var(--tb-typography-SubheaderSmall-font);
  text-decoration-line: var(--tb-typography-SubheaderSmall-textDecorationLine);
  text-transform: var(--tb-typography-SubheaderSmall-textTransform);
}

.tb-typography-SubheaderXSmall-font {
  font: var(--tb-typography-SubheaderXSmall-font);
  text-decoration-line: var(--tb-typography-SubheaderXSmall-textDecorationLine);
  text-transform: var(--tb-typography-SubheaderXSmall-textTransform);
}

.tb-typography-GothamBaseBold-font {
  font: var(--tb-typography-GothamBaseBold-font);
  text-decoration-line: var(--tb-typography-GothamBaseBold-textDecorationLine);
  text-transform: var(--tb-typography-GothamBaseBold-textTransform);
}

.tb-typography-GothamBaseBook-font {
  font: var(--tb-typography-GothamBaseBook-font);
  text-decoration-line: var(--tb-typography-GothamBaseBook-textDecorationLine);
  text-transform: var(--tb-typography-GothamBaseBook-textTransform);
}

.tb-typography-GothamSmallBold-font {
  font: var(--tb-typography-GothamSmallBold-font);
  text-decoration-line: var(--tb-typography-GothamSmallBold-textDecorationLine);
  text-transform: var(--tb-typography-GothamSmallBold-textTransform);
}

.tb-typography-GothamSmallBook-font {
  font: var(--tb-typography-GothamSmallBook-font);
  text-decoration-line: var(--tb-typography-GothamSmallBook-textDecorationLine);
  text-transform: var(--tb-typography-GothamSmallBook-textTransform);
}

.tb-typography-GothamXSmallBook-font {
  font: var(--tb-typography-GothamXSmallBook-font);
  text-decoration-line: var(--tb-typography-GothamXSmallBook-textDecorationLine);
  text-transform: var(--tb-typography-GothamXSmallBook-textTransform);
}

.tb-typography-GothamOverline-font {
  font: var(--tb-typography-GothamOverline-font);
  text-decoration-line: var(--tb-typography-GothamOverline-textDecorationLine);
  text-transform: var(--tb-typography-GothamOverline-textTransform);
}

.tb-typography-SemanticPlaceholder-font {
  font: var(--tb-typography-SemanticPlaceholder-font);
  text-decoration-line: var(--tb-typography-SemanticPlaceholder-textDecorationLine);
  text-transform: var(--tb-typography-SemanticPlaceholder-textTransform);
}

.tb-typography-SemanticFloatingPlaceholder-font {
  font: var(--tb-typography-SemanticFloatingPlaceholder-font);
  text-decoration-line: var(--tb-typography-SemanticFloatingPlaceholder-textDecorationLine);
  text-transform: var(--tb-typography-SemanticFloatingPlaceholder-textTransform);
}

.tb-typography-SemanticInput-font {
  font: var(--tb-typography-SemanticInput-font);
  text-decoration-line: var(--tb-typography-SemanticInput-textDecorationLine);
  text-transform: var(--tb-typography-SemanticInput-textTransform);
}

.tb-typography-SemanticButtonLabelBase-font {
  font: var(--tb-typography-SemanticButtonLabelBase-font);
  text-decoration-line: var(--tb-typography-SemanticButtonLabelBase-textDecorationLine);
  text-transform: var(--tb-typography-SemanticButtonLabelBase-textTransform);
}

.tb-typography-SemanticButtonLabelSmall-font {
  font: var(--tb-typography-SemanticButtonLabelSmall-font);
  text-decoration-line: var(--tb-typography-SemanticButtonLabelSmall-textDecorationLine);
  text-transform: var(--tb-typography-SemanticButtonLabelSmall-textTransform);
}

.tb-typography-SemanticTabLabel-font {
  font: var(--tb-typography-SemanticTabLabel-font);
  text-decoration-line: var(--tb-typography-SemanticTabLabel-textDecorationLine);
  text-transform: var(--tb-typography-SemanticTabLabel-textTransform);
}

.tb-typography-SemanticTagLabel-font {
  font: var(--tb-typography-SemanticTagLabel-font);
  text-decoration-line: var(--tb-typography-SemanticTagLabel-textDecorationLine);
  text-transform: var(--tb-typography-SemanticTagLabel-textTransform);
}
