@import "styles/modules/all";

.button {
  // Layout
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  // Dimensions
  width: fit-content;
  min-width: 55px;
  height: 48px;
  padding: 0 20px;

  // Visual
  background-color: var(--tb-palette-TB-Brand-Accent);
  border: 0;
  border-radius: var(--tb-GlobalBrandBorderRadius);
  color: white;
  cursor: pointer;

  // Typography
  font: var(--tb-typography-SemanticButtonLabelBase-font);

  // Size variations
  &.small {
    height: 40px;
    font: var(--tb-typography-SemanticButtonLabelSmall-font);
  }

  &.xsmall {
    height: 32px;
    font: var(--tb-typography-SemanticButtonLabelSmall-font);
  }

  // Width variation
  &.fullWidth {
    width: 100%;
  }

  // Variant styles
  &.primary {

    &:hover:not(:disabled) {
      background-color: green;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: var(--tb-palette-TB-Functional-MedGray);
      color: white;
    }
  }

  &.secondary {
    background-color: transparent;

    &.defaultColorStroke {
      border: 1px solid var(--tb-palette-TB-Brand-Gray); // default stroke color
    }

    &.defaultColorText {
      color: var(--tb-palette-TB-Brand-Medium); // default text color
    }

    &:hover:not(:disabled) {
      background-color: #4CAF50;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: white;
      color: var(--tb-palette-TB-Functional-MedGray);
      border: 1px solid var(--tb-palette-TB-Functional-MedGray);
    }
  }


  // Image and span styles remain the same
  img {
    filter: invert(1);
    height: 13px;
  }

  span {
    display: none;

    @media (min-width: 576px) {
      display: inline-block;
      font-size: 14px;
      white-space: nowrap;
      margin-left: 8px;
    }
  }
}
