@import "styles/modules/all";

.button {
  border: 0;
  min-width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--mui-GlobalBrandBorderRadius);
  padding: 0 20px;
  width: fit-content;
  font: var(--mui-MuiCssBaseline-typography-SemanticButtonLabelBase-font);
  height: 48px; // Base size height

  // Full-width style
  &.fullWidth {
    width: 100%;
  }

  /**
   * Sizes
   */
  &.small {
    height: 40px;
  }

  /**
   * Colors
   */
  &.accent {
    background-color: var(--mui-palette-TB-Brand-Accent);
    color: var(--mui-palette-TB-Functional-White, #FFFFFF);
  }

  &.primary {
    background-color: var(--mui-palette-TB-Brand-Primary, #0C223F);
    color: var(--mui-palette-TB-Functional-White, #FFFFFF);
  }

  &.mediumColor {
    background-color: var(--mui-palette-TB-Brand-Medium);
    color: var(--mui-palette-TB-Functional-White, #FFFFFF);
  }

  &.success {
    background-color: var(--mui-palette-TB-Functional-Success, #009D47);
    color: var(--mui-palette-TB-Functional-White, #FFFFFF);
  }

  &.error {
    background-color: var(--mui-palette-TB-Functional-Error, #A31F34);
    color: var(--mui-palette-TB-Functional-White, #FFFFFF);
  }

  // Hover and focus states
  &:focus,
  &:hover {
    opacity: 0.9;
  }

  // Disabled state
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      opacity: 0.5;
    }
  }

  img {
    filter: invert(1);
    height: 13px;
  }

  span {
    display: none;

    @include breakpoint(sm) {
      display: inline-block;
      font-size: 14px;
      white-space: nowrap;
      margin-left: 8px;
    }
  }
}
