.story-wrapper {
  height: 14vh;
  width: 100%;  /* Ensure the story wrapper takes full width of the viewport */
}

.component-wrapper {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 40px 20px;  /* Adjusted padding to keep space on all sides */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;  /* Full width */
  background-color: white;
  box-sizing: border-box;  /* Include padding in width calculation */

  &__label {
    margin-bottom: 24px;
    text-align: center;

    &-number {
      margin-bottom: 4px;
      font: var(--tb-typography-GothamSmallBook-font);
      color: #000;
    }

    &-name {
      font: var(--tb-typography-GothamSmallBold-font);
      color: #000;
    }
  }

  .component-container {
    width: 100%;  /* Ensure container stretches to full width */
    margin: 0 auto;  /* Center container */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;  /* Ensure height stretches */
    box-sizing: border-box;  /* Include padding in width calculation */
  }
}

button {
  width: 100%;  /* Full width button */
  box-sizing: border-box;  /* Include padding in width calculation */
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  min-height: auto;
  width: 100%;  /* Full width */
  box-sizing: border-box;  /* Include padding in width calculation */
}

.info-section {
  width: 100%;  /* Make info-section responsive to full width */
  max-width: 343px;  /* Limit width to match other components */
  text-align: left;

  &__title {
    font: var(--tb-typography-GothamSmallBold-font);
    margin-bottom: 8px;
    text-align: center;
  }

  &__content {
    width: 100%;
    & + & {
      margin-top: 24px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;

    &-label {
      font: var(--tb-typography-SubheaderSmall-font);
    }

    &-value {
      font: var(--tb-typography-BodySmall-font);
    }
  }

  &__divider {
    width: 100%;  /* Make divider full width */
    height: 1px;
    background-color: #D8D8D8;
    margin: 24px 0;
  }

  &__groups {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.lorem-ipsum-text {
  width: 100%;  /* Ensure text container takes full width */
  max-width: 343px;  /* Limit width to match other components */
  margin: 0 auto;  /* Center it horizontally */
  padding: 0 20px;
  height: 100vh;  /* Full viewport height */
  display: flex;
  justify-content: center;  /* Horizontally center the text */
  align-items: center;  /* Vertically center the text */
  text-align: center;
}
