$gap-tab-to-indicator: var(--tb-tabs-gap-tabToIndicator, 8px);
$gap-icon-to-text: var(--tb-tabs-gap-iconToText, 4px);
$padding-hbase: var(--tb-tabs-padding-hbase, 4px);
$icon-size: var(--tb-tabs-size-icon, 32px);
$indicator-height: var(--tb-tabs-indicatorHeight, 4px);

$font: var(--tb-typography-GothamN-S-700-font);
$accent: var(--tb-palette-TB-Brand-Accent, #0070cd);
$brand-gray: var(--tb-palette-TB-Brand-Gray, #8195a2);
$black: var(--tb-palette-TB-Functional-Black, #000000);
$off-black: var(--tb-palette-TB-Functional-OffBlack, #595959);
$white: var(--tb-palette-TB-Functional-White, #ffffff);
$off-white: var(--tb-palette-TB-Functional-OffWhite, #b5b5b5);
$placeholder-gray: var(--tb-palette-TB-Functional-MedGray, #d8d8d8);

.tabUnit {
  appearance: none;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $gap-tab-to-indicator;
  padding: 0;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-icon-to-text;
  padding: 0 $padding-hbase;
}

.contentTextOnly {
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.icon {
  width: $icon-size;
  height: $icon-size;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.iconStack {
  position: relative;
}

.iconLayer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.iconInner {
  display: block;
  width: 100%;
  height: 100%;

  svg,
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.iconPlaceholder {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  background: $placeholder-gray;
}

.inactive .iconPlaceholder {
  background: $brand-gray;
}

.active .iconPlaceholder {
  background: $black;
}

.dark .iconPlaceholder {
  background: $off-white;
}

.dark.active .iconPlaceholder {
  background: $white;
}

.label {
  font: $font;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
}

.indicator {
  height: $indicator-height;
  width: 100%;
  background: $accent;
  opacity: 0;
}

.active .indicator {
  opacity: 1;
}

.light .label {
  color: $off-black;
}

.light.active .label {
  color: $black;
}

.dark .label {
  color: $off-white;
}

.dark.active .label {
  color: $white;
}

.dark .indicator {
  background: $accent;
}

.dark.active .indicator {
  background: $white;
}
