$size-base: var(--tb-checkboxRadio-size-base, 24px);
$size-large: var(--tb-checkboxRadio-size-large, 28px);

$brand-gray: var(--tb-palette-TB-Brand-Gray, #8195a2);
$brand-accent: var(--tb-palette-TB-Brand-Accent, #0070cd);
$functional-medgray: var(--tb-palette-TB-Functional-MedGray, #d8d8d8);
$functional-white: var(--tb-palette-TB-Functional-White, #ffffff);

.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.sizeBase {
  width: $size-base;
  height: $size-base;
}

.sizeLarge {
  width: $size-large;
  height: $size-large;
}

.box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.checkmark {
  width: 14px;
  height: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.stateBase .box {
  box-shadow: inset 0 0 0 1px $brand-gray;
}

.stateFocused .box {
  box-shadow: inset 0 0 0 2px $brand-gray;
}

.stateSelected .box {
  box-shadow: inset 0 0 0 0 $brand-gray;
  background: $brand-accent;
}

.stateDisabled .box {
  box-shadow: inset 0 0 0 1px $functional-medgray;
}
