$size-base: var(--tb-checkboxRadio-size-base, 24px);
$size-large: var(--tb-checkboxRadio-size-large, 28px);
$icon-scale: var(--tb-checkboxRadio-iconScale, 0.6);

$brand-gray: var(--tb-palette-TB-Brand-Gray, #8195a2);
$brand-accent: var(--tb-palette-TB-Brand-Accent, #0070cd);
$functional-medgray: var(--tb-palette-TB-Functional-MedGray, #d8d8d8);
$functional-white: var(--tb-palette-TB-Functional-White, #ffffff);

.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.checkbox::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
}

.sizeBase {
  --checkbox-size: #{$size-base};

  .checkmark {
    width: calc(#{$size-base} * #{$icon-scale});
    height: calc(#{$size-base} * #{$icon-scale});
  }
}

.sizeLarge {
  --checkbox-size: #{$size-large};

  .checkmark {
    width: calc(#{$size-large} * #{$icon-scale});
    height: calc(#{$size-large} * #{$icon-scale});
  }
}

.box {
  width: var(--checkbox-size, #{$size-base});
  height: var(--checkbox-size, #{$size-base});
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.checkmark {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--tb-globalTokens-defaultContentColor);
  background-color: var(--tb-globalTokens-defaultContentColor);
  mask-image: var(--checkmark-url);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-image: var(--checkmark-url);
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
}

.stateBase .box {
  box-shadow: inset 0 0 0 1px $brand-gray;
}

.stateFocused .box {
  box-shadow: inset 0 0 0 2px $brand-gray;
}

.stateSelected .box {
  box-shadow: inset 0 0 0 0 $brand-gray;
  background: $brand-accent;
}

.stateSelected .checkmark {
  color: $functional-white;
  background-color: $functional-white;
}

.stateDisabled .box {
  box-shadow: inset 0 0 0 1px $functional-medgray;
}

.stateDisabled {
  cursor: not-allowed;
}
