$tb-palette-TB-Brand-Primary: #0C223F;
$tb-palette-TB-Brand-Medium: #004876;
$tb-palette-TB-Brand-Accent: #0070CD;
$tb-palette-TB-Brand-Gray: #8195A2;
$tb-palette-TB-Functional-Black: #000000;
$tb-palette-TB-Functional-OffBlack: #595959;
$tb-palette-TB-Functional-White: #FFFFFF;
$tb-palette-TB-Functional-OffWhite: #B5B5B5;
$tb-palette-TB-Functional-DarkGray: #858585;
$tb-palette-TB-Functional-MedGray: #D8D8D8;
$tb-palette-TB-Functional-LightGray: #E9EDF0;
$tb-palette-TB-Functional-GrayOnDark: rgba(255, 255, 255, 0.2);
$tb-palette-TB-Functional-Success: #009D47;
$tb-palette-TB-Functional-Error: #A31F34;
$tb-palette-TB-POI-Food: #AD3F49;
$tb-palette-TB-POI-Fitness: #D78956;
$tb-palette-TB-POI-Entertainment: #DBAE60;
$tb-palette-TB-POI-Parks: #5E8748;
$tb-palette-TB-POI-Transportation: #5C8988;
$tb-palette-TB-POI-Business: #2C71C7;
$tb-palette-TB-POI-Shopping: #344072;
$tb-palette-TB-POI-School: #543D6E;
$tb-palette-primary-contrast: #FFFFFF;
$tb-palette-primary-main: #2196F3;
$tb-palette-action-disabled: rgba(0, 0, 0, 0.38);