.tabContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tabTitleContainer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  position: relative;
  width: 100%;
  padding: 0 16px;
  // padding-bottom: 1px; // To ensure the underline is visible


  .tabTitleScrollable {
    display: flex;
    gap: 16px;
    overflow-x: scroll;
    align-items: flex-end;
    width: 100%;

    &::-webkit-scrollbar {
      width: 1px;
      height: 2px;
      margin-top: -1px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-track-piece {
      border: 1px solid transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--mui-palette-TB-Functional-DarkGray, #858585);
    }
  }

  .tabActionContainer {
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #D8D8D8;
    box-shadow: 0 1px 2px rgba(133, 133, 133, 0.15);
  }
}

.tabItem {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  cursor: pointer;
  font: var(--mui-MuiCssBaseline-typography-GothamBaseBold-font);

  &.selected {
    color: var(--mui-palette-TB-Functional-Black, #000000);
  }

  &:not(.selected) {
    color: var(--mui-palette-TB-Functional-DarkGray, #858585);
  }
}

.tabContent {
  padding: 0 16px;
}

.selectionBar {
  width: 100%;
  height: 2px;
  background-color: transparent;
  position: relative;
  z-index: 1; // To ensure it appears above the underline

  .selected & {
    background-color: var(--mui-palette-TB-Brand-Accent, #0070CD);
  }
}
