.typesRow {
    width: 100%;
    max-width: 800px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
}
